body{
	background:#eee;
	font-family: sans-serif;
}
.calculator{
	width: 330px;
	background: #e0d33be8;
	margin: 100px auto;
	padding: 10px 15px 40px 15px;
	border-radius: 5px;
	box-shadow: 0px 5px 12px 0px #E1E1E1;
}
.num{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 14px;
	border-radius: 5px;
	padding: 10px;
}
.opt{
	font-size: 14px;
	border: none;
	width: 245px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
.button{
	background: #48504bc9;
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 10px 15px;
	color: #edef84;
	font-size: 13px;
	border-bottom: 4px solid #171617b0;
}
.brand{
	color: #eee;
	font-size: 10px;
	float: right;
	text-decoration: none;
	margin:  10px;
}
.title{
	text-align: center;
	color: #5a5a5af0;
	font-weight: normal;
}
